# Starting of Tutorial

In [2]:
5+5

10

# Variable in Python

In [3]:
a='5'
a

'5'

In [4]:
print('5')

5

In [5]:
print(a)

5

In [6]:
'5+5'

'5+5'

In [7]:
'5'+'5'

'55'

In [8]:
5+5

10

In [9]:
'5'+5

TypeError: must be str, not int

In [10]:
int('5')+ 5

10

In [11]:
5+ int('5')

10

In [13]:
x=5

In [14]:
x

5

In [16]:
'My Age is ' + str(x)

'My Age is 5'

In [17]:
x='5'
x

'5'

In [18]:
x=10
y=10

In [19]:
x+y

20

In [20]:
x+10

20

In [21]:
'My age is x'

'My age is x'

In [24]:
'My Age is ' + str(x)

'My Age is 10'

# Print Function

In [28]:
print ('Hello World!!')

Hello World!!

In [29]:
print ('My Age is ' + str(x))

My Age is 10

In [30]:
print ('5')

5

In [31]:
'5'

'5'

In [32]:
print ('Hello , World !!!!')
'Hello , World !!'

Hello , World !!!!

'Hello , World !!'

In [33]:
x

10

In [34]:
'How are you doing , aged ' + str(x)

'How are you doing , aged 10'

# Format Methods

In [35]:
"I am 5 Years Old"

'I am 5 Years Old'

In [36]:
age =5
'I am ' + str(age) + ' Years Old'

'I am 5 Years Old'

In [37]:
'I am {} Years Old'.format(age)

'I am 5 Years Old'

In [38]:
'I am {} Years and {} Months Old.'.format (age,6)

'I am 5 Years and 6 Months Old.'

In [39]:
'I am {y} years old.'.format(y=age)

'I am 5 years old.'

In [40]:
'I am {y} years old.'.format(y=10)

'I am 10 years old.'

In [44]:
'My Initial name is {}, and Surname is {}'.format('Amit','Sharma')

'My Initial name is Amit, and surname is Sharma'

In [46]:
print ('Are you {} from Delhi ?'.format('Amit') )

Are you Amit from Delhi ?

# Input Method

In [43]:
input('Enter Your Age: ')

Enter Your Age: 30

'30'

In [47]:
print(input('Enter Your age: '))

Enter Your age: 20
20

In [52]:
User_age = input('Enter the age: ')
User_age
int(User_age)

Enter the age: 40

40

In [50]:
User_age = input('Enter the age: ')
print(User_age)

Enter the age: 40
40

In [51]:
print(input('My Age is :'))

My Age is :30
30

In [62]:
user_sec = input('Enter the Age of User :')
print (int(user_sec) * 365 * 24)

Enter the Age of User :31
271560

In [68]:
print ('days Lived') , print (int(user_sec) * 365 * 24)

days Lived
271560

(None, None)

In [69]:
print ('days Lived') , print (int(user_sec) * 365 * 24)

days Lived
271560

(None, None)

In [73]:
print ('Seconds Lived as :' , (int(user_sec) * 365 * 24 * 60 * 60))

Seconds Lived as : 977616000

In [74]:
Seconds = int(user_sec) * 365 * 24 * 60 * 60

In [75]:
Seconds

977616000

In [76]:
print ('You have lived for {} Seconds.'.format(Seconds))

You have lived for 977616000 Seconds.

In [84]:
Temp = input('Please input Today\'s Temprature in C: ')
Farenhite = (int(Temp) * 9/5) +  32
print('Temprature in Celsius is {} and in Farenhite is {} '.format (Temp,Farenhite))

Please input Today's Temprature in C: 20
Temprature in Celsius is 20 and in Farenhite is 68.0

# Define Method . Automating Inputs

In [85]:
def age_in_sec():
    user_age = input('Enter your Age:')
    seconds = int(user_age) * 365 * 24 * 60 *60 
    print ('You have lived for {} Seconds.'.format(seconds))

In [86]:
age_in_sec()

Enter your Age:31
You have lived for 977616000 Seconds.

In [94]:
def temp_conv():
    celsius_temp = input ('Enter Temprature in Celsius :')
    farenhite_temp = int(celsius_temp) * 9/5 + 32
    print ('Temprature Entered in Celsius as {}, and Calcualted farenhite Value is {} .'.format(celsius_temp,farenhite_temp))

In [95]:
temp_conv()

Enter Temprature in Celsius :20
Temprature Entered in Celsius as 20, and Calcualted farenhite Value is 68.0 .

# if, ELIF, ELSE

In [96]:
price= 100

In [97]:
if price < 100:
    print ('Buy the Chair!')
else:
    print ('Don\'t Buy!')

Don't Buy!

In [98]:
if price < 100:
    print ('Buy the Chair !!')
elif price == 100:
    print ('Try to Bargain First , then Buy')
else:
    print('Don\'t Buy it.')

Try to Bargain First , then Buy

In [102]:
def age_program():
    Age = input ('Please enter your age :')
    Choose = input('Give me Seconds(S) or Days(D) ?')
    if Choose == 'S':
        Seconds = int(Age) * 365 * 24 * 60 * 60
        print ('You have Lived for {} Seconds'.format(Seconds))
    elif Choose == 'D':
        Days = int (Age) * 365 
        print ('You have Lived for {} Days'.format(Days))
    else:
        print ('You have not selected proper Value {}'.format(Choose))

In [103]:
age_program()

Please enter your age :20
Give me Seconds(S) or Days(D) ?S
You have Lived for 630720000 Seconds

In [104]:
age_program()

Please enter your age :20
Give me Seconds(S) or Days(D) ?D
You have Lived for 7300 Days

In [105]:
age_program()

Please enter your age :20
Give me Seconds(S) or Days(D) ?M
You have not selected proper Value M

In [107]:
def test_prog():
    magic_num = input('Select a magic_number :')
    list_of_num = input ('Select a Number between 0 and 10 :')
    if list_of_num == magic_num:
        print ('Wow , you have selected correct {}'.format(magic_num))
    else:
        print ('Please choose again')

In [108]:
test_prog()

Select a magic_number :6
Select a Number between 0 and 10 :3
Please choose again

In [109]:
test_prog()

Select a magic_number :5
Select a Number between 0 and 10 :4
Please choose again

In [110]:
test_prog()

Select a magic_number :5
Select a Number between 0 and 10 :5
Wow , you have selected correct 5

In [113]:
print (False == 0)

True

In [114]:
print (True==0)

False

In [117]:
print (True + True + False)

2

In [120]:
# Or Operator
print (True | False)

True

In [121]:
# And Operator
print (True & False)

False

In [122]:
print (not True)

False

In [125]:
print (None != 0)

True

In [129]:
print (None==0)

False

In [133]:
a=[1,2,3]
a

[1, 2, 3]

In [134]:
del a[2]
a

[1, 2]

In [138]:
assert 5 < 3 ,'5 is not smaller than 3'

AssertionError: 5 is not smaller than 3

In [145]:
print  ('No' '1' in '1ambda')

False

In [146]:
if 's' in 'shobhit':
    print('Yes')
else:
    print ('No')

Yes

In [150]:
print('\'')

'

In [156]:
print (''is'')

True

In [160]:
for i in 'shobhit sharma': 
    print (i,end=" , ")

s , h , o , b , h , i , t ,   , s , h , a , r , m , a ,

# Check a keyword`

In [163]:
import keyword

In [164]:
s='if'
s1='sho'

In [167]:
if  keyword.iskeyword (s):
    print (s , ',is a keyword')
else:
    print(s,', is not a Keyword')

if ,is a keyword

In [170]:
if  keyword.iskeyword (s1):
    print (s1 + ',is a keyword')
else:
    print(s1 + ', is not a Keyword')

sho, is not a Keyword

In [172]:
# Print all Keywords
print (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [173]:
print ('Amit')
print('Sharma')

Amit
Sharma

In [175]:
print("geeks"), print("geeksforgeeks")

geeks
geeksforgeeks

(None, None)

In [177]:
a = [1, 2, 3, 4]
a

[1, 2, 3, 4]

In [44]:
print ('Shobhit', end = ' , ') 
print ('Sharma')

Shobhit , Sharma

In [3]:
def add():
    num1 = int(input('Enter Num1 :'))
    num2 = int(input('Enter Num2: '))
    print('Sum of 2 numbers are :' , num1 + num2)

In [4]:
add()

Enter Num1 :12
Enter Num2: 12
Sum of 2 numbers are : 24

In [5]:
def Sub(Num1, Num2):
    num1 = int(input('Enter Num1 :'))
    num2 = int(input('Enter Num2: '))
    return Num1 - Num2

In [6]:
Sub(1,2)

Enter Num1 :12
Enter Num2: 2

-1

# Calculator

In [21]:
def Add(Num1,Num2):
    return Num1 + Num2

In [9]:
Add(1,2)

3

In [10]:
def Minus (Num1,Num2):
    return (Num1 - Num2)

In [38]:
def Multi (Num1,Num2):
    return(Num1 * Num2)

In [13]:
def Div (Num1 ,Num2):
    return (Num1/num2)

In [42]:
def Calc ():
    v1 = int(input('Enter Fist Number :'))
    v2 = int(input('Enter Second Number :'))
    print ('Select your Opeartion : \n ' \
            '1 for Addition \n ' \
            '2 for Subtraction \n ' \
            '3 for Multiplication \n ' \
            '4 for Division ')
    Choose = int(input('Choose a number for Operation :'))
    if Choose == 1:
        print('You Have Selected Addition Operation.')
        print(v1 , '+' , v2 ,'=', Add(v1,v2))
    elif Choose == 2:
        print('You Have Selected Subtraction Operation.')
        print(v1 , '-' , v2 ,'=', Minus(v1,v2))
    elif Choose == 3:
        print('You Have Selected Multiplication Operation.')
        print(v1 , '*' , v2 ,'=', Multi(v1,v2))
    elif Choose == 4:
        print('You Have Selected Division Operation.')
        print(v1 , '\'' , v2 ,'=', Div(v1,v2))
    else:
        print ('Wrong Selction:')
print(input(' Press Enter to Continue'))

 Press Enter to Continue2
2

In [43]:
Calc()

Enter Fist Number :3
Enter Second Number :4
Select your Opeartion :
 1 for Addition
 2 for Subtraction
 3 for Multiplication
 4 for Division
Choose a number for Operation :1
You Have Selected Addition Operation.
3 + 4 = 7

#  Strings

In [45]:
Str1 ='My Name is Shobhit Sharma'

In [46]:
Str1[4]

'a'

In [47]:
print(Str1[4])

a

In [48]:
print(Str1[-14])

S

In [49]:
# printing first Charater
print(Str1[-1])

a

In [50]:
print (Str1[3:-2])

Name is Shobhit Shar

In [51]:
print (Str1[2:-2:2])

 aei hbi hr

In [52]:
Str1[3]='p'

TypeError: 'str' object does not support item assignment

In [56]:
Str2 ='''I am \'a Python Enthusiast'''

In [57]:
Str2

"I am 'a Python Enthusiast"

In [64]:
Str3 =r'C:\Python\Pycharm'

In [65]:
Str3

'C:\\Python\\Pycharm'

In [66]:
print('My NAme is {} {}'.format('Shobhit','Sharma'))

My NAme is Shobhit Sharma

In [70]:
print('My Name is {l} {p} {a}'.format(l='Shobhit',a='Sharma',p='Jr.'))

My Name is Shobhit Jr. Sharma

In [74]:
String1 = "|{:<10}|{:^10}|{:>10}|".format('Geeks','for','Geeks') 
print("\nLeft, center and right alignment with Formatting: ")
print(String1)

Left, center and right alignment with Formatting:
|Geeks     |   for    |     Geeks|

In [77]:
Str3 ='my Name is Shobhit Sharma'

In [87]:
print(Str3.count('a'))

3

In [88]:
print(Str3.encode())

b'my Name is Shobhit Sharma'

In [105]:
print(Str3.lstrip('a'))

my Name is Shobhit Sharma

In [107]:
print(Str3.replace('s','p'))

my Name ip Shobhit Sharma

In [109]:
print(Str3.translate('s'))

my Name is Shobhit Sharma

In [110]:
print(Str3.index('s'))

9

In [2]:
s1 = "Python,Django,CSS,Java"

l1 = s1.split(",")
print(l1)
l2 = l1[::-1]
print(l2)
l3=''.join(l2)
print(l3)
s2 = ("/").join(l2)
print(s2)

['Python', 'Django', 'CSS', 'Java']
['Java', 'CSS', 'Django', 'Python']
JavaCSSDjangoPython
Java/CSS/Django/Python

In [8]:
print(dir())

['In', 'Out', '_', '_1', '_2', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'l1', 'l2', 'l3', 'quit', 's1', 's2']

- ### find-- Returns the index of first occurenece from starting of element passed
- ### rfind --Returns the index of first occurenece from Left of element passed
- ### index -- Same as find
- ### rindex -- same as rfind
- ### count -- Count Number of occurence
- ### replace -- replaces 2nd element from 1st one in Strng

In [10]:
print(s1)

Python,Django,CSS,Java

In [22]:
print (s1.find('Ja'))
print (s1.rfind('S'))
print (s1.index('Ja'))
print (s1.rindex('S'))
print (s1.count('a'))
print (s1.replace('S','A'))

18
16
18
16
3
Python,Django,CAA,Java

In [1]:
s1.maketrans?

Object `s1.maketrans` not found.

In [3]:
s1.maketrans('P','D')

{80: 68}

### center
### ljust 
### rjust 

### strip
### lstrip
### rstrip

In [4]:
s = "Python"
s1 = s.center(20,"#")
print(s1)

#######Python#######

In [22]:
s = "Python Language"
print(len(s))
s1 = s.center(18,"#")
s2 = s.ljust(20,"#")
s3 = s.rjust(20,"#")
s4 = s3.strip('#')
s5 = s1.lstrip('#')
s6 = s1.rstrip('#')
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)
print(s6)

15
#Python Language##
Python Language#####
#####Python Language
Python Language
Python Language##
#Python Language

## Functions in String

In [ ]:
upper 
lower
title
capitalize 
isupper 
islower
istitle


isalpha 
isdigit
isalnum 
isspace 

maketrans
translate

find 
replace 
rfind 
index 
rindex 

center 
rjust 
ljust 

strip 
lstrip
rstrip 


split 
join 

format

# List

In [114]:
List=[]
print(List)

[]

In [51]:
List = ["Geeks", "For", "Geeks"] 
print("\nList containing multiple values: ") 
print(List[2])
print(List[1])

List containing multiple values:
Geeks
For

## Adding element to a List
#### Append - One Element at a Time List 
            for Example , List.append ([1,2]) --> will consider 1,2 as one list (one object)
#### Extend - Can add multiple item, 
            for example , List.extend ([3,4])--> Will add 3 and 4 as 2 different items
#### insert - One element at a time BUT at the specific index

In [52]:
List.append(4)
List

['Geeks', 'For', 'Geeks', 4]

In [53]:
List.append([5,'Hi'])
List

# Adde [5,'Hi'] as one item

['Geeks', 'For', 'Geeks', 4, [5, 'Hi']]

In [54]:
List.extend([6,'Hello'])
List

# Added [6,'Hello'] as 2 different items in List

['Geeks', 'For', 'Geeks', 4, [5, 'Hi'], 6, 'Hello']

In [57]:
List.insert(3,'Python')
List

# Inserted 'Python' at index 3 and pushed the list one index right

['Geeks', 'For', 'Geeks', 'Python', 4, [5, 'Hi'], 6, 'Hello']

In [58]:
List.extend(['Van','Dam'])
List
print(List)

['Geeks', 'For', 'Geeks', 'Python', 4, [5, 'Hi'], 6, 'Hello', 'Van', 'Dam']

In [59]:
# Loopin in List
for i in range(0,4):
    List.append(i)
print(List)

['Geeks', 'For', 'Geeks', 'Python', 4, [5, 'Hi'], 6, 'Hello', 'Van', 'Dam', 0, 1, 2, 3]

In [60]:
List1=['Shobhit','Sharma']

In [61]:
List.append(List1)

In [62]:
List

['Geeks',
 'For',
 'Geeks',
 'Python',
 4,
 [5, 'Hi'],
 6,
 'Hello',
 'Van',
 'Dam',
 0,
 1,
 2,
 3,
 ['Shobhit', 'Sharma']]

### Remove--Remove The first Occurence of Item passed in function
### Pop-- Remove the item  at index passed in function and returns the item at that index 
### Clear-- Removes all elements from a list

In [70]:
List.remove ('Van')
List

# Removed 'Van' from List

['Geeks',
 'For',
 'Geeks',
 'Python',
 4,
 [5, 'Hi'],
 6,
 'Hello',
 'Dam',
 0,
 1,
 2,
 3,
 ['Shobhit', 'Sharma']]

In [71]:
List.remove('Geeks')
List

# removed First Occurence of geeks from List

['For',
 'Geeks',
 'Python',
 4,
 [5, 'Hi'],
 6,
 'Hello',
 'Dam',
 0,
 1,
 2,
 3,
 ['Shobhit', 'Sharma']]

In [74]:
List.pop(5)

# Removed Element at 5th index 'hello' and returned Hello

'Hello'

In [76]:
List.clear()
List

[]

In [77]:
List1=list(range(0,5))
List1

[0, 1, 2, 3, 4]

In [78]:
List1.append(2)
List1
List1.extend([3,5,1,2,34,5])
List1
List1.insert(2,'Hello')
List1

[0, 1, 'Hello', 2, 3, 4, 2, 3, 5, 1, 2, 34, 5]

## Slicing in List 
    list [start:stop:step]

In [86]:
List1

[0, 1, 'Hello', 2, 3, 4, 2, 3, 5, 1, 2, 34, 5]

In [87]:
List1[::-1]

[5, 34, 2, 1, 5, 3, 2, 4, 3, 2, 'Hello', 1, 0]

In [82]:
List1[-6:2]

[]

In [88]:
List1[-6:10]

[3, 5, 1]

In [99]:
List1[-6:12:-1]

[]

In [100]:
List1[6:-12:-1]

[2, 4, 3, 2, 'Hello']

### index -- Returns first index of element passed in function
### Count-- Counts the number of occurence of a particular element passed in function  
### reverse -- reverse the whole list

In [109]:
List1.index('Hello')

# returned index of 'Hello'

2

In [111]:
List1.index(3)

# returned index of first occurence of 3

4

In [113]:
List1.count(3)

# returns the number of element in List

2

In [124]:
List1.reverse()
List1

[5, 34, 2, 1, 5, 3, 2, 4, 3, 2, 'Hello', 1, 0]

In [125]:
List1[1]

34

# Tuple

In [126]:
tuple1 =(1,2,34)

In [127]:
tuple1

(1, 2, 34)

In [129]:
def fun(a, b, c, d): 
    print(a, b, c, d)

In [130]:
my_list = [1,2,3,4]
fun(*my_list)

1 2 3 4

In [131]:
def sum1(*args):
    sum=0
    for i in range (0,len(args)):
        sum = sum + args[i]

    return sum

In [132]:
print(sum1(1,2,3,4,))

10

In [22]:
# Python program to illustrate 
# *kargs for variable number of keyword arguments 

def myFun(**kwargs): 
	for key, value in kwargs.items(): 
		print ("%s == %s" %(key, value)) 

# Driver code 
myFun(first ='Geeks', mid ='for', last='Geeks', new='name')

first == Geeks
mid == for
last == Geeks
new == name

In [133]:
from math import sqrt
n = 3 # raw_input("Maximal Number? ")
n = int(n)+1
for a in range(1,n):
    for b in range(a,n):
        c_square = a**2 + b**2
        c = int(sqrt(c_square))
        if ((c_square - c**2) == 0):
            print (a, b, c)

In [29]:
print (3)

3

In [30]:
x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4}

In [31]:
z = {**x, **y}

In [32]:
z

{'a': 1, 'b': 3, 'c': 4}

In [134]:
n = (int(input('Enter Numbrer:')))

Enter Numbrer:45

In [8]:
def fact(x):
    if x==0:
        return 1
    return  x * (x-1)

In [11]:
x= int(input())
print(fact(x))

8
56

In [ ]:
n = int(input('Enter a number:'))
fact = n
for i in range (1,n):
    fact = fact * (n-i)
	     #i=i+1
print ('fact :' , fact)

In [ ]:
n = int(input('Please enter Max Key Value ,'))
print ('key Value Choosed :' ,n)
d = dict []
for i in  (1,n):
    d[i] = i*i
print (i,d[i])

In [4]:
Num1 = 1
Num2 = 'Hello Shobhit'
print(Num1)
print(type(Num1))
print(Num2)
print(type(Num2))

1
<class 'int'>
Hello Shobhit
<class 'str'>

In [9]:
Num1 = 1
Num2 = 'Hello Shobhit'
# Id is same as of Rowid in SQL
print (id(Num1))
print (id(Num2))

1675652160
2145908153712

In [14]:
l=[10,20,30]
l
l,id(l)
print(l,id(l))

[10, 20, 30] 2145908153800

In [16]:
a=b=c=3
print(b)

3

## Dictonary

        > - Mutable - Add update and delete 
        > - Unordered - not support indexing and slicing 
        > - All the keys should be unique
        > - All the keys should be immutable - int,float,str,tuple 
        
        In case of duplicate keys it the last key overrides the previous key

In [136]:
dict1 ={"Name":'Shobhit','Age':20}
dict1

{'Name': 'Shobhit', 'Age': 20}

In [139]:
dict1 ={"Name":'Shobhit','Age':20, 'Age':30}
dict1
print(dict1)

# In this case Age is duplicate key and last key : value is Age:30 and it overridden Age:20

{'Name': 'Shobhit', 'Age': 30}

In [141]:
print(dict1['Name'])
dict1['Age']

# Printing Value based on Key passed

Shobhit

30

In [144]:
# print All Keys

dict1.keys()

dict_keys(['Name', 'Age'])

In [145]:
# print all values 

dict1.values()

dict_values(['Shobhit', 30])

In [148]:
# get function is like of exception handling, if user passed wrong key to find value , one can customize message

print(dict1.get('Address','This Key is not defined'))
dict1.get('Address','This Key is not defined')

This Key is not defined

'This Key is not defined'

In [157]:
dict1.setdefault('Address')
dict1

{'Name': 'Shobhit', 'Age': 30, 'Address': None}

In [158]:
dict1['Address'] =  'Delhi'
dict1

{'Name': 'Shobhit', 'Age': 30, 'Address': 'Delhi'}

In [161]:
# Prorgam to print Squares in form of dictionary

d={}
for i in range (0,10):
    d.setdefault(i,i**2)
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [172]:
d={}
for i in range(1,11):
    d.setdefault(i,3*i)
print(d)
print(d.keys())
print(d.values())
print(d.items())

{1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30}
dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dict_values([3, 6, 9, 12, 15, 18, 21, 24, 27, 30])
dict_items([(1, 3), (2, 6), (3, 9), (4, 12), (5, 15), (6, 18), (7, 21), (8, 24), (9, 27), (10, 30)])

In [177]:
# Prorgam to iterate Dict

s1 = {'Jack':80,'mark':35,"Andy":65,"Brian":39,"Rob": 50}
passmarks = 40
print ('Name of students failed:')
for k,v in s1.items():
    if v < passmarks:
        print(k, end = ',')

Name of students failed:
mark,Brian,

## Zip () function
       It Zips 2 lists and returns Tuple 
       
       Case when 2 lists doesnt have same length it considers the final concatenation tuple with length of shortest List

In [179]:
l1=[1,2,3,4]
l2=['a','b','c','d']

for i in zip(l1,l2):

    
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [181]:
# ZIP() considred only starting 4 elements and left 5 since othe rlist have just 4 elements

l1=[1,2,3,4,5]
l2=['a','b','c','d']

for i in zip(l1,l2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

### Pop -- Removes the Key value pair for the Key passed in Function pop
### PopItem-- Removes the last Key value pair
### Clear() -- Clears the dictionary and returns empty Dictionary
### del() --  It deletes the structure of dictionary and clears memory allocated to dictionary

In [182]:
d1 = {"Name":"Shobhit","Age":"30","Sex":"Male","Address":"Delhi"}
r = d1.pop("Name")
print(d1)
print(r)

{'Age': '30', 'Sex': 'Male', 'Address': 'Delhi'}
Shobhit

In [183]:
print(d1)

{'Age': '30', 'Sex': 'Male', 'Address': 'Delhi'}

In [185]:
r1=d1.popitem()
r1

('Address', 'Delhi')

In [186]:
d1

{'Age': '30', 'Sex': 'Male'}

In [191]:
# Clears the dictionary and returns empty Dictionary
d1.clear()
d1

{}

In [197]:
d2={"Name":'Shobhit',"Age":'30'}

In [198]:
d2
del d2

In [199]:
d2

NameError: name 'd2' is not defined

## Set 
        < Mutable => add,update and delete
        < Unordered => no indexing and slicing
        < Internally sets are implementated as Dict with None value
        < All elements in set should be unique
        < Datatype of all elements shold be immutable

In [201]:
s = {10,20,30,40,50}
print(type(s))

<class 'set'>

In [202]:
s1 = set()
print(type(s1))

<class 'set'>

In [204]:
# only Unique Values -- removed one occurance of 4
s1={1,2,3,4,5,4}
s1

{1, 2, 3, 4, 5}

### Set in python follows same architecture as of Maths Stes
        You can perform Union, intersection, Minus and all other Sets operation

In [207]:
## union returns Unique values from all different Sets

s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s3 = s1.union(s2)
print(s3)
s3

{70, 40, 10, 80, 50, 20, 90, 60, 30}

{10, 20, 30, 40, 50, 60, 70, 80, 90}

In [208]:
s1.update(s2)
s1

{10, 20, 30, 40, 50, 60, 70, 80, 90}

In [209]:
s3 = s1.symmetric_difference(s2)
print(s3)
s3

{10, 20, 30}

{10, 20, 30}

In [ ]:
# s3 = s1.intersection(s2)
# print(s3)

# s1.intersection_update(s2)
# print(s1)

# s3 = s1.difference(s2)
# print(s3)


# s3 = s2.difference(s1)
# print(s3)

# s1.difference_update(s2)
# print(s1)

# s3 = s1.symmetric_difference(s2)
# print(s3)

# s1.symmetric_difference_update(s2)
# print(s1)

# s3 = {10,20}

# print(s3.issubset(s1))
# print(s1.issuperset(s3))

In [21]:
se ={1,2,3,4}
se

{1, 2, 3, 4}

In [26]:
se = {1,2,3,4,'Hi',4}
se

{1, 2, 3, 4, 'Hi'}

In [31]:
# if string is also passed in Set, it will consider set as string, 
#hence ordering of items are different, and printing 23 before 3

se={2,3,1,4,2,1,2,'Hey',341,23,7}
se

{1, 2, 23, 3, 341, 4, 7, 'Hey'}

In [32]:
# in This case only integers hence integers are rerranged
se={2,3,1,4,2,1,2,341,23,7}
se

{1, 2, 3, 4, 7, 23, 341}

## Misclaneous

In [33]:
l=[1,2,3,4]
print (l[1])

2

In [36]:
name,age ='Shobhit', 31
print (f"My name is {name}, and age is {age}")

My name is Shobhit, and age is 31

In [21]:
for i in range (1,11):
    print('15 * ',i , '=' , 15*i)

15 *  1 = 15
15 *  2 = 30
15 *  3 = 45
15 *  4 = 60
15 *  5 = 75
15 *  6 = 90
15 *  7 = 105
15 *  8 = 120
15 *  9 = 135
15 *  10 = 150

In [23]:
a=range(0,100,2)
a

range(0, 100, 2)

In [24]:
print(range(7))

range(0, 7)

In [27]:
a=list(range(0,20,2))
a

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [34]:
a= list(range(10))
b=a+a
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
for i in zip([1,2,3],[2,3,4],[3,4,5]):
    print(i)

(1, 2, 3)
(2, 3, 4)
(3, 4, 5)

In [41]:
for i in zip([1,2,3],[2,3,4],[3,4,5],[5,6]):
    print(i)

(1, 2, 3, 5)
(2, 3, 4, 6)

# List

In [44]:
lst= [1,2,3,4]
print (lst)

[1, 2, 3, 4]

In [45]:
lst[1:3]

[2, 3]

In [46]:
lst[-1:2]

[]

In [49]:
lst.append(6)
lst

[1, 2, 3, 4, 6, 6, 6]

In [50]:
lst[2]=8
lst

[1, 2, 8, 4, 6, 6, 6]

In [51]:
lst.insert(3,5)
lst

[1, 2, 8, 5, 4, 6, 6, 6]

In [56]:
lst.pop
lst

[1, 2, 8, 5, 4, 6, 6, 6]

In [57]:
del lst(2)
lst

SyntaxError: can't delete function call (<ipython-input-57-5ce677972115>, line 1)

In [58]:
lst = [12,23,24,34,3,4,5,678,89,42,23,32,45,23,34,5]
len(lst)

16

In [62]:
for i in lst[1:len(lst)]:
    print(i, end = ', ')

23, 24, 34, 3, 4, 5, 678, 89, 42, 23, 32, 45, 23, 34, 5,

In [63]:
a=(1)
type(a)

int

In [64]:
b=(1,)
type(b)

tuple

In [65]:
a={1,2,3,4,4,5,6}
a

{1, 2, 3, 4, 5, 6}

In [66]:
a={1,2,3,4,'Hi'}
a

{1, 2, 3, 4, 'Hi'}

In [69]:
b={1,2,3,2,4,6,5,7,'Hey','apple','Hi'}
b

{1, 2, 3, 4, 5, 6, 7, 'Hey', 'Hi', 'apple'}

In [70]:
c={1,2,3,2,4,6,5,7,'hey','apple','hi'}
c

{1, 2, 3, 4, 5, 6, 7, 'apple', 'hey', 'hi'}

In [75]:
dict ={1:2,2:3,3:4,1:4,1:6,2:8}
dict

{1: 6, 2: 8, 3: 4}

In [76]:
b

{1, 2, 3, 4, 5, 6, 7, 'Hey', 'Hi', 'apple'}

In [81]:
c.add(10)

In [82]:
c

{1, 10, 2, 3, 4, 5, 6, 7, 'apple', 'hey', 'hi'}

In [83]:
c.add(15)
c

{1, 10, 15, 2, 3, 4, 5, 6, 7, 'apple', 'hey', 'hi'}

In [84]:
c

{1, 10, 15, 2, 3, 4, 5, 6, 7, 'apple', 'hey', 'hi'}

In [85]:
lang = [['Hindi','english'],'math',['Spainish','Russian'], 1,2,3]
lang

[['Hindi', 'english'], 'math', ['Spainish', 'Russian'], 1, 2, 3]

In [86]:
type(lang)

list

In [87]:
print(type(lang))

<class 'list'>

In [88]:
lang1 =[['My','Name'],('Shobhit','Sharma'),'Raj','Dheeraj',['Ram','jai'],('Peeter')]
lang1

[['My', 'Name'],
 ('Shobhit', 'Sharma'),
 'Raj',
 'Dheeraj',
 ['Ram', 'jai'],
 'Peeter']

In [2]:
#  A list may conatin Anything,like Tuples, strings, dict, Sets any thing 
lang2 =[['My','Name'],('Shobhit','Sharma'),'Raj','Dheeraj',['Ram','jai'],
            'Peeter',{1,2,3},{'Name':'SHobhit','Age':30}]
lang2

[['My', 'Name'],
 ('Shobhit', 'Sharma'),
 'Raj',
 'Dheeraj',
 ['Ram', 'jai'],
 'Peeter',
 {1, 2, 3},
 {'Name': 'SHobhit', 'Age': 30}]

In [97]:
lang2[1]

('Shobhit', 'Sharma')

In [110]:
a=type(lang2[0])
b=type(lang2[1])
c=type(lang2[2])
d=type(lang2[-2])
e=type(lang2[-1])
print(a, lang2[0])
print(b, lang2[1])
print(c ,lang2[2])
print(d,lang2[-2])
print(e, lang2[-1])

<class 'list'> ['My', 'Name']
<class 'tuple'> ('Shobhit', 'Sharma')
<class 'str'> Raj
<class 'set'> {1, 2, 3}
<class 'dict'> {'Name': 'SHobhit', 'Age': 30}

In [111]:
# Item assignment in nested list

lang2[0][1]='Pet'
lang2

[['My', 'Pet'],
 ('Shobhit', 'Sharma'),
 'Raj',
 'Dheeraj',
 ['Ram', 'jai'],
 'Peeter',
 {1, 2, 3},
 {'Name': 'SHobhit', 'Age': 30}]

In [112]:
lang2[:]

[['My', 'Pet'],
 ('Shobhit', 'Sharma'),
 'Raj',
 'Dheeraj',
 ['Ram', 'jai'],
 'Peeter',
 {1, 2, 3},
 {'Name': 'SHobhit', 'Age': 30}]

In [3]:
lang2[1:4]

[('Shobhit', 'Sharma'), 'Raj', 'Dheeraj']

In [4]:
lang2[-1:1]

[]

In [7]:
lang2[-3:6]

['Peeter']

In [9]:
colors =['red','pink','blue']
colors

['red', 'pink', 'blue']

In [10]:
colors = list(range(0,7))
colors

[0, 1, 2, 3, 4, 5, 6]

In [11]:
colors[:3] =[6,5,4,2,1]
colors

[6, 5, 4, 2, 1, 3, 4, 5, 6]

In [12]:
del colors

In [16]:
colors = list(range(0,7))
colors

[0, 1, 2, 3, 4, 5, 6]

In [17]:
del colors[5]
colors

[0, 1, 2, 3, 4, 6]

In [19]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [20]:
a,b

([1, 2, 3], [4, 5, 6])

In [21]:
b,a

([4, 5, 6], [1, 2, 3])

In [22]:
b+a

[4, 5, 6, 1, 2, 3]

In [27]:
del a

In [28]:
a=[1,2,3]

In [29]:
a

[1, 2, 3]

In [30]:
b=a*3

In [31]:
b

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [32]:
1 in a

True

In [33]:
7 in a

False

In [35]:
for i in list(range(0,50)):
    if i%2 == 0:
        print (f'{i} is even number')

0 is even number
2 is even number
4 is even number
6 is even number
8 is even number
10 is even number
12 is even number
14 is even number
16 is even number
18 is even number
20 is even number
22 is even number
24 is even number
26 is even number
28 is even number
30 is even number
32 is even number
34 is even number
36 is even number
38 is even number
40 is even number
42 is even number
44 is even number
46 is even number
48 is even number

In [38]:
even=[2*i for i in range(1,11)]
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [39]:
len(even)

10

In [41]:
max(even)
#min(even)

20

In [42]:
max([1,34,345,12,213,123,23323,12312,3123,123,123,12,312,3,123,12])

23323

In [43]:
sum(even)

110

In [46]:
sorted([234,234,234,24,2321,312,31,23,324,32,5,5432,53,5])

[5, 5, 23, 24, 31, 32, 53, 234, 234, 234, 312, 324, 2321, 5432]

In [47]:
list('shobhit')

['s', 'h', 'o', 'b', 'h', 'i', 't']

In [48]:
a

[1, 2, 3]

In [49]:
any(a)

True

In [50]:
all(a)

True

In [51]:
b

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [52]:
b.append(5)

In [53]:
b

[1, 2, 3, 1, 2, 3, 1, 2, 3, 5]

In [54]:
b.append('')
b

[1, 2, 3, 1, 2, 3, 1, 2, 3, 5, '']

In [55]:
all(b)

False

In [56]:
a

[1, 2, 3]

In [58]:
a.append(4)
a.append(8)

In [59]:
a

[1, 2, 3, 4, 8]

In [60]:
a.append(10)
a.append(9)
a

[1, 2, 3, 4, 8, 10, 9]

In [61]:
a.append(4)
a

[1, 2, 3, 4, 8, 10, 9, 4]

In [62]:
a.remove(4)

In [63]:
a

[1, 2, 3, 8, 10, 9, 4]

In [64]:
a.pop(4)

10

In [65]:
a

[1, 2, 3, 8, 9, 4]

In [66]:
a.index(8)

3

In [67]:
a.append(3)

In [68]:
a.index(3)

2

In [69]:
a

[1, 2, 3, 8, 9, 4, 3]

In [71]:
a.count(3)

2

.sort()

In [72]:
a.sort()

In [73]:
a

[1, 2, 3, 3, 4, 8, 9]

In [74]:
a.reverse()

In [76]:
a

[9, 8, 4, 3, 3, 2, 1]

In [77]:
a

[9, 8, 4, 3, 3, 2, 1]

# Tuple1

In [78]:
tup = 1,
tup

(1,)

In [79]:
type(tup)

tuple

In [80]:
print(type(tup))

<class 'tuple'>

In [81]:
tup=(1,2,3,4,5)

In [82]:
tup

(1, 2, 3, 4, 5)

In [83]:
tup=(2,3,4,5,6,7)

In [84]:
tup

(2, 3, 4, 5, 6, 7)

In [86]:
tup[3]

5

In [87]:
print(tuple(range(0,5)))

(0, 1, 2, 3, 4)

In [6]:
%pwd

'C:\\Users\\shobhit.sharma\\Documents\\Python Scripts'