# Starting of Tutorial

## File Extensions in Python
.py â€“The normal extension for a Python source file

.pyc- The compiled bytecode

.pyd- A Windows DLL file

.pyo- A file created with optimizations

.pyw- A Python script for Windows

.pyz- A Python script archive

# Applicatios of Python

1)-Build a website

2)-Develop a game

3)-Perform Computer Vision (Facilities like face-detection and color-detection)

4)-Implement Machine Learning (Give a computer the ability to learn)

5)-Enable Robotics

6)-Perform Web Scraping (Harvest data from websites)

7)-Perform Data Analysis

8)-Automate a web browser

9)-Perform Scripting

10)-Perform Scientific Computing

11)-Build Artificial Intelligence

# 16 Facts About Python

### https://data-flair.training/blogs/facts-about-python-programming/

## Before Start your First python Code, its advisable to setup a Virtual environment

### Step to Install Virtual Env


https://data-flair.training/blogs/python-virtual-environment/

### In Windows OS ,to check if Python is installed.

#### On Command Prompt type >> python or python --version

In [7]:
# In Python 3 and Above Print needs a paranthesis

print ('Hello World !')

# Where in 2.0  > version < 3.0 , their was no need of paranthesis

# print "Hello World !"

Hello World !

# Variable in Python

In [1]:
# Integer
a=5
print(a)

5

In [2]:
# Float
b=5.32344
print(b)

5.32344

In [3]:
# String
c='A'
print (c)

A

In [4]:
# String
d='Shobhit Sharma'
print(d)

Shobhit Sharma

In [6]:
# Boolean
e= True
print(e)

True

In [8]:
# Null Value
f= None
print(f)

None

In [16]:
# List of Keyword in Python using library Keyword
# All these Keywords can not be used as Variable Name
import keyword
print (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [14]:
print (keyword.main)

<function main at 0x000001CAFF73B158>

In [17]:
print (keyword.iskeyword)

<built-in method __contains__ of frozenset object at 0x000001CAFD8D4828>

In [22]:
# Type keyword to return the type of variable

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

In [23]:
# Variable Assignment is = operator
a='5'
a

'5'

In [26]:
# Multi variale assignment 

x,y,z = 1,2,3
print(z-x)
print (x,y,z)

2
1 2 3

In [28]:
# Number of variables should be same as of objects
x,y= 1,2,3

ValueError: too many values to unpack (expected 2)

In [1]:
## Testing git package for Jupyter
pip install --upgrade jupyterlab-git

Collecting jupyterlab-git
  Downloading https://files.pythonhosted.org/packages/25/20/cd8809a7ab7fe3ce54a10effabef5da5617d515645f030b81332d3062053/jupyterlab_git-0.8.1-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: notebook in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from jupyterlab-git) (6.0.0)
Collecting nbdime>=1.1.0 (from jupyterlab-git)
  Downloading https://files.pythonhosted.org/packages/0f/3f/668922f04fa6848437d8486c495ceea2fbe2b011e1084cb49a792c4bec31/nbdime-1.1.0-py2.py3-none-any.whl (4.3MB)
Requirement already satisfied, skipping upgrade: nbformat in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (4.4.0)
Requirement already satisfied, skipping upgrade: pyzmq>=17 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (18.0.0)
Requirement already satisfied, skipping upgrade: jupyter-client>=5.3.1 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (5.3.1)
Requirement already satisfied, skipping upgrade: jinja2 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (2.10.1)
Requirement already satisfied, skipping upgrade: ipython-genutils in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (0.2.0)
Requirement already satisfied, skipping upgrade: nbconvert in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (5.5.0)
Requirement already satisfied, skipping upgrade: traitlets>=4.2.1 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (4.3.2)
Requirement already satisfied, skipping upgrade: jupyter-core>=4.4.0 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (4.5.0)
Requirement already satisfied, skipping upgrade: tornado>=5.0 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (6.0.3)
Requirement already satisfied, skipping upgrade: terminado>=0.8.1 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (0.8.2)
Requirement already satisfied, skipping upgrade: ipykernel in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (5.1.1)
Requirement already satisfied, skipping upgrade: prometheus-client in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (0.7.1)
Requirement already satisfied, skipping upgrade: Send2Trash in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from notebook->jupyterlab-git) (1.5.0)
Requirement already satisfied, skipping upgrade: colorama in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from nbdime>=1.1.0->jupyterlab-git) (0.4.1)
Requirement already satisfied, skipping upgrade: six in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from nbdime>=1.1.0->jupyterlab-git) (1.12.0)
Requirement already satisfied, skipping upgrade: pygments in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from nbdime>=1.1.0->jupyterlab-git) (2.4.2)
Collecting GitPython!=2.1.4,!=2.1.5,!=2.1.6 (from nbdime>=1.1.0->jupyterlab-git)
  Downloading https://files.pythonhosted.org/packages/ff/f8/05f58bd7852dad7edcf70a8de953b4fa39f61cdc13812ae62118be6ffa23/GitPython-3.0.3-py3-none-any.whl (453kB)
Requirement already satisfied, skipping upgrade: requests in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from nbdime>=1.1.0->jupyterlab-git) (2.22.0)
Requirement already satisfied, skipping upgrade: jsonschema!=2.5.0,>=2.4 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from nbformat->notebook->jupyterlab-git) (3.0.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from jupyter-client>=5.3.1->notebook->jupyterlab-git) (2.8.0)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from jinja2->notebook->jupyterlab-git) (1.1.1)
Requirement already satisfied, skipping upgrade: testpath in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (0.4.2)
Requirement already satisfied, skipping upgrade: defusedxml in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (0.6.0)
Requirement already satisfied, skipping upgrade: bleach in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (3.1.0)
Requirement already satisfied, skipping upgrade: mistune>=0.8.1 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (0.8.4)
Requirement already satisfied, skipping upgrade: pandocfilters>=1.4.1 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (1.4.2)
Requirement already satisfied, skipping upgrade: entrypoints>=0.2.2 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from nbconvert->notebook->jupyterlab-git) (0.3)
Requirement already satisfied, skipping upgrade: decorator in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from traitlets>=4.2.1->notebook->jupyterlab-git) (4.4.0)
Requirement already satisfied, skipping upgrade: ipython>=5.0.0 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from ipykernel->notebook->jupyterlab-git) (7.6.1)
Collecting gitdb2>=2.0.0 (from GitPython!=2.1.4,!=2.1.5,!=2.1.6->nbdime>=1.1.0->jupyterlab-git)
  Downloading https://files.pythonhosted.org/packages/03/6c/99296f89bad2ef85626e1df9f677acbee8885bb043ad82ad3ed4746d2325/gitdb2-2.0.6-py2.py3-none-any.whl (63kB)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from requests->nbdime>=1.1.0->jupyterlab-git) (2.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from requests->nbdime>=1.1.0->jupyterlab-git) (2019.6.16)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from requests->nbdime>=1.1.0->jupyterlab-git) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from requests->nbdime>=1.1.0->jupyterlab-git) (1.24.2)
Requirement already satisfied, skipping upgrade: attrs>=17.4.0 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook->jupyterlab-git) (19.1.0)
Requirement already satisfied, skipping upgrade: pyrsistent>=0.14.0 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook->jupyterlab-git) (0.14.11)
Requirement already satisfied, skipping upgrade: setuptools in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook->jupyterlab-git) (41.0.1)
Requirement already satisfied, skipping upgrade: webencodings in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from bleach->nbconvert->notebook->jupyterlab-git) (0.5.1)
Requirement already satisfied, skipping upgrade: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (2.0.9)
Requirement already satisfied, skipping upgrade: jedi>=0.10 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (0.13.3)
Requirement already satisfied, skipping upgrade: pickleshare in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (0.7.5)
Requirement already satisfied, skipping upgrade: backcall in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (0.1.0)
Collecting smmap2>=2.0.0 (from gitdb2>=2.0.0->GitPython!=2.1.4,!=2.1.5,!=2.1.6->nbdime>=1.1.0->jupyterlab-git)
  Downloading https://files.pythonhosted.org/packages/55/d2/866d45e3a121ee15a1dc013824d58072fd5c7799c9c34d01378eb262ca8f/smmap2-2.0.5-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: wcwidth in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (0.1.7)
Requirement already satisfied, skipping upgrade: parso>=0.3.0 in c:\users\ssharm04\appdata\local\continuum\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=5.0.0->ipykernel->notebook->jupyterlab-git) (0.5.0)
Installing collected packages: smmap2, gitdb2, GitPython, nbdime, jupyterlab-git
Successfully installed GitPython-3.0.3 gitdb2-2.0.6 jupyterlab-git-0.8.1 nbdime-1.1.0 smmap2-2.0.5
Note: you may need to restart the kernel to use updated packages.

In [29]:
a,b,c = 1,2

ValueError: not enough values to unpack (expected 3, got 2)

In [30]:
a,b,_ = 1,2,3

In [31]:
print (_)

3

In [33]:
# Assign same value to multiple variables

a=b=c=3

print(a)
print(b)
print(c)
print (a,b,c)

3
3
3
3 3 3

In [36]:
x= y = [3,4,5]
print (x,y)
y = [7,8,9]
print ('x ' , x)
print ('y ' , y)

[3, 4, 5] [3, 4, 5]
x  [3, 4, 5]
y  [7, 8, 9]

In [40]:
# Spaces vs Tabs --> 1 Tab means 4 spaces
# Tabs are used for proper indentation, one can use either 1 Tab or 4 spaces to get the same result
# Spaces are the preferred indentation method.

In [7]:
# True and False, True considered as 1 and False as 0

print (False + False)
print (True + False )
print (True + True  )
print (True + True  +True)

0
1
2
3

In [6]:
True + True + True

3

In [8]:
## All Integers
a=1
b=10000
c=100000000000000
d=10000000000000000000000000000

In [9]:
print (a,b,c,d)

1 10000 100000000000000 10000000000000000000000000000

In [13]:
# Float 
a= 2.09
b= 3.09e1
c= 43.423e-18

print(a,b,c)
print (type(a), type(b), type(c))

2.09 30.9 4.3423e-17
<class 'float'> <class 'float'> <class 'float'>

In [14]:
# Complex Number

a= 3+1j
b= 7+ 8j

print(a,b)
print (type(a), type(b))

(3+1j) (7+8j)
<class 'complex'> <class 'complex'>

In [20]:
# Charaters or Class String

c = 'a'
d = 'b'
e = 'Shobhit'
f = 'Shobhit Shamra'


print (c,type(c))
print(d,type(d))
print(e,type(e))
print(f,type(f))

a <class 'str'>
b <class 'str'>
Shobhit <class 'str'>
Shobhit Shamra <class 'str'>

In [27]:
# Type of True,False and None 

print (type(True))
print (type(False))
print (type(None))


# Note that None is of Type "NoneType" Datatype

<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [11]:
# isinstance to check data type of an Item

i= int(input('Enter value for i :'))
if isinstance (i, int):
    print ('int')
elif isinstance (i, str):
    print ('str')

Enter value for i :3
int

In [12]:
# Data Type Conversion

a= 1
b= 1.43
c='c'
d='dog'
e= '12'

print( a,type(a), str(a), float(a))
print( b,type(b), int(b), str(b))
#print( c,type(c), int(c))
#print( d,type(d), int(d))
print (e,type(e), int(e),float(e))

1 <class 'int'> 1 1.0
1.43 <class 'float'> 1 1.43
12 <class 'str'> 12 12.0

In [30]:
# Data type conversion for Collection Types

a='hello'

print('List -->' , list(a))
print('Tuple -->' , tuple(a))
print('Set -->' , set(a))

List --> ['h', 'e', 'l', 'l', 'o']
Tuple --> ('h', 'e', 'l', 'l', 'o')
Set --> {'o', 'h', 'e', 'l'}

In [6]:
'5+5'

'5+5'

## Difference Between Comma (,) and Concatenation (+) Operator

#### (+) is similar to mathemetics Add means it can add int and float but not int to String , 
#### (,) Comma can be used irrespective of Data Type. It Adds an additional Space between 2 or more objects

In [43]:
## Examples of (+)

print(2+2)
print('Data' + 'Analytics')
print (1.43 + 4)

4
DataAnalytics
5.43

In [44]:
# Examples of Comma (,), it inserts an additional Space

print(2 , 2)
print('Data' , 'Analytics')
print (1.43 , 4)

print ('Help' , 123) # + is not possible here

2 2
Data Analytics
1.43 4
Help 123

In [46]:
print('5'+'5')
print('5','5')

print('Hello' , 'Shobhit')
print ('Hello' + 'Shobhit')

55
5 5
Hello Shobhit
HelloShobhit

In [8]:
5+5

10

In [10]:
int('5')+ 5

10

In [11]:
5+ int('5')

10

In [13]:
x=5

In [14]:
x

5

In [16]:
'My Age is ' + str(x)

'My Age is 5'

In [17]:
x='5'
x

'5'

In [18]:
x=10
y=10

In [19]:
x+y

20

In [20]:
x+10

20

In [21]:
'My age is x'

'My age is x'

In [24]:
'My Age is ' + str(x)

'My Age is 10'

# Print Function

In [28]:
print ('Hello World!!')

Hello World!!

In [29]:
print ('My Age is ' + str(x))

My Age is 10

In [30]:
print ('5')

5

In [31]:
'5'

'5'

In [32]:
print ('Hello , World !!!!')
'Hello , World !!'

Hello , World !!!!

'Hello , World !!'

In [33]:
x

10

In [34]:
'How are you doing , aged ' + str(x)

'How are you doing , aged 10'

# Format Methods

In [35]:
"I am 5 Years Old"

'I am 5 Years Old'

In [36]:
age =5
'I am ' + str(age) + ' Years Old'

'I am 5 Years Old'

In [37]:
'I am {} Years Old'.format(age)

'I am 5 Years Old'

In [38]:
'I am {} Years and {} Months Old.'.format (age,6)

'I am 5 Years and 6 Months Old.'

In [39]:
'I am {y} years old.'.format(y=age)

'I am 5 years old.'

In [40]:
'I am {y} years old.'.format(y=10)

'I am 10 years old.'

In [44]:
'My Initial name is {}, and Surname is {}'.format('Amit','Sharma')

'My Initial name is Amit, and surname is Sharma'

In [46]:
print ('Are you {} from Delhi ?'.format('Amit') )

Are you Amit from Delhi ?

In [4]:
Var_ai = 'Machine Learning'

In [5]:
print ('Now a days ' + str(Var_ai) + ' is talk of the town ')

Now a days Machine Learning is talk of the town

In [6]:
print ('Now a days ' + Var_ai + ' is talk of the town ')

Now a days Machine Learning is talk of the town

In [7]:
print ('Now a days ' , Var_ai , ' is talk of the town ')

Now a days  Machine Learning  is talk of the town

In [9]:
Marks = 89.15

In [10]:
print ('I Got in Total {} Marks '.format(Marks))

I Got in Total 89.15 Marks

In [15]:
print ('I Got in Total {} Marks '.format(Marks), %'f')

SyntaxError: invalid syntax (<ipython-input-15-c4c5452fcd59>, line 1)

In [16]:
print("Every {} should know the use of {} {} programming and {}"
    .format("programmer", "Open", "Source", "Operating Systems"))

Every programmer should know the use of Open Source programming and Operating Systems

In [18]:
## Indexing while formatting

print("Every {3} should know the use of {2} {1} programming and {0}"
        .format("programmer", "Open", "Source", "Operating Systems"))

Every Operating Systems should know the use of Source Open programming and programmer

In [19]:
print ('Rounding of {} is {:.2f}'.format('132.2323',132.2323 ))

Rounding of 132.2323 is 132.23

In [32]:
dec_number = 234.432324324
print ('More Precise value is {:.2f}'.format(dec_number))

More Precise value is 234.43

In [33]:
# It is goving error due to version, Update teh Latest Verison
print ('integer  value is {:d}'.format(dec_number))

ValueError: Unknown format code 'd' for object of type 'float'

In [39]:
int_number = 100
print ('Binary value is {:b}'.format(int_number))
print ('Octal value is {:o}'.format(int_number))
print ('Character value is {:c}'.format(int_number))
print ('Exponential value is {:e}'.format(int_number))

Binary value is 1100100
Octal value is 144
Character value is d
Exponential value is 1.000000e+02

## Padding Space using Format like RPAD /LPAD

In [47]:
Var1 ='Sharma'
Var2 ='Happy Diwali'
print("I am {0:} , and Wishing you a very {1:15}!"
                        .format(Var1,Var2))

I am Sharma , and Wishing you a very Happy Diwali   !

In [ ]:
Var1 ='Sharma'
Var2 ='Happy Diwali'
print("I am {0:} , and Wishing you a very {1:15}!"
                        .format(Var1,Var2))

In [51]:
# Space padded with {0:10}-- 10 Spaces added

print("I am {0:10} , and Wishing you a very {1:15}!"
                        .format(Var1,Var2))

I am Sharma     , and Wishing you a very Happy Diwali   !

In [55]:
## Middle carrot to indent text in Middle < is for Left and > for Right


print("I am {0:^10} , and Wishing you a very {1:^20}!".format(Var1,Var2)) 

print("I am {0:<10} , and Wishing you a very {1:<20}!".format(Var1,Var2)) 

print("I am {0:>10} , and Wishing you a very {1:>20}!".format(Var1,Var2))

I am   Sharma   , and Wishing you a very     Happy Diwali    !
I am Sharma     , and Wishing you a very Happy Diwali        !
I am     Sharma , and Wishing you a very         Happy Diwali!

In [60]:
# Padding * or any other special Character

print("I am {0:*^20s} , and Wishing you a very {1:!^20}!".format(Var1,Var2)) 
print("I am {0:*>20s} , and Wishing you a very {1:!<20}!".format(Var1,Var2)) 
print("I am {0:*<20s} , and Wishing you a very {1:!>20}!".format(Var1,Var2))

I am *******Sharma******* , and Wishing you a very !!!!Happy Diwali!!!!!
I am **************Sharma , and Wishing you a very Happy Diwali!!!!!!!!!
I am Sharma************** , and Wishing you a very !!!!!!!!Happy Diwali!

In [64]:
print ('Wishing You a Very {0:#^30s}.'.format('Happy Diwali'))
print ('Wishing You a Very {0:#>30s}.'.format('Happy Diwali'))
print ('Wishing You a Very {0:#<30s}.'.format('Happy Diwali'))

Wishing You a Very #########Happy Diwali#########.
Wishing You a Very ##################Happy Diwali.
Wishing You a Very Happy Diwali##################.

In [66]:
# Padded Space {0: 30s}

print ('Wishing You a Very {0: ^30s}.'.format('Happy Diwali'))
print ('Wishing You a Very {0: >30s}.'.format('Happy Diwali'))
print ('Wishing You a Very {0: <30s}.'.format('Happy Diwali'))

Wishing You a Very          Happy Diwali         .
Wishing You a Very                   Happy Diwali.
Wishing You a Very Happy Diwali                  .

# Input Method

In [67]:
input('Enter Your Age: ')

Enter Your Age: 34

'34'

In [68]:
print(input('Enter Your age: '))

Enter Your age: 23
23

In [69]:
User_age = input('Enter the age: ')
User_age
int(User_age)

Enter the age: 34

34

In [70]:
User_age = input('Enter the age: ')
print(User_age)

Enter the age: 34
34

In [71]:
print(input('My Age is :'))

My Age is :34
34

In [73]:
user_sec = input('Enter the Age of User :')
print (int(user_sec) * 365 * 24)

Enter the Age of User :33
289080

In [74]:
print ('days Lived') , print (int(user_sec) * 365 * 24)

days Lived
289080

(None, None)

In [73]:
print ('Seconds Lived as :' , (int(user_sec) * 365 * 24 * 60 * 60))

Seconds Lived as : 977616000

In [74]:
Seconds = int(user_sec) * 365 * 24 * 60 * 60

In [75]:
Seconds

977616000

In [76]:
print ('You have lived for {} Seconds.'.format(Seconds))

You have lived for 977616000 Seconds.

In [75]:
Temp = input('Please input Today\'s Temprature in C: ')
Farenhite = (int(Temp) * 9/5) +  32
print('Temprature in Celsius is {} and in Farenhite is {} '.format (Temp,Farenhite))

Please input Today's Temprature in C: 36
Temprature in Celsius is 36 and in Farenhite is 96.8

# Define Method . Automating Inputs

In [76]:
def age_in_sec():
    user_age = input('Enter your Age:')
    seconds = int(user_age) * 365 * 24 * 60 *60 
    print ('You have lived for {} Seconds.'.format(seconds))

In [77]:
age_in_sec()

Enter your Age:33
You have lived for 1040688000 Seconds.

In [78]:
def temp_conv():
    celsius_temp = input ('Enter Temprature in Celsius :')
    farenhite_temp = int(celsius_temp) * 9/5 + 32
    print ('Temprature Entered in Celsius as {}, and Calcualted farenhite Value is {} .'.format(celsius_temp,farenhite_temp))

In [79]:
temp_conv()

Enter Temprature in Celsius :34
Temprature Entered in Celsius as 34, and Calcualted farenhite Value is 93.2 .

In [85]:
def cal_sqr():
    Num1 = input('Choose the number :')
    Sqrt = int(Num1)**2
    print ('Number Selected as {} and Square of this number is {}.'.format(Num1,Sqrt))

In [86]:
cal_sqr()

Choose the number :5
Number Selected as 5 and Square of this number is 25.

In [94]:
print (str(input('Enter Your Name: ')))

Enter Your Name: Shobhit
Shobhit

In [95]:
print ((input('Enter Your Name: ')))

Enter Your Name: q2
q2

### Play with Datetime in Python

In [96]:
import datetime

In [107]:
# Current Time

dt= datetime.datetime.now()

print ('Current Time is {}'.format(dt))

Current Time is 2019-10-25 13:51:01.719230

In [123]:
day=datetime.date.today()

print(day)

2019-10-25

In [126]:
date= datetime.date(2019,2,12)

print(date)

2019-02-12

In [129]:
def create_date():
    v_year = int(input('Select Year:'))
    v_month = int(input('Select Month:'))
    v_date = int(input('Select date:'))
    dt= datetime.date(v_year,v_month,v_date)
    print ('Date Generated as {}'.format(dt))

In [130]:
create_date()

Select Year:2019
Select Month:3
Select date:12
Date Generated as 2019-03-12

In [135]:
date.today()

datetime.date(2019, 10, 25)

# if, ELIF, ELSE

In [1]:
price= 100

In [4]:
if price < 100:
    print ('Buy the Chair!')
else:
    print ('Don\'t Buy!')

Don't Buy!

In [3]:
name = 'Shobhit'
if name == 'Shobhit':
    print ('Hi' , name)
else:
    print('Hi Unknown')

Hi Shobhit

In [19]:
'Shobhit' if 2>1 else 'Sharma'

'Shobhit'

In [20]:
'Right' if 2>1 else 'worng'

'Right'

In [22]:
'Right' if 1>2 else 'worng'

'worng'

In [5]:
if price < 100:
    print ('Buy the Chair !!')
elif price == 100:
    print ('Try to Bargain First , then Buy')
else:
    print('Don\'t Buy it.')

Try to Bargain First , then Buy

In [14]:
def age_program():
    Age = input ('Please enter your age :')
    Choose = input('Give me Seconds(S) or Days(D) ?')
    if Choose == 'S':
        Seconds = int(Age) * 365 * 24 * 60 * 60
        print ('You have Lived for {} Seconds'.format(Seconds))
    elif Choose == 'D':
        Days = int (Age) * 365 
        print ('You have Lived for {} Days'.format(Days))
    else:
        print ('You have not selected proper format Value {}'.format(Choose))

In [15]:
age_program()

Please enter your age :23
Give me Seconds(S) or Days(D) ?s
You have not selected proper format Value s

age_program()

In [26]:
def dist_in_miles():
    unit = input('Please Select Unit either Meters(K) or Mile(M)')
    dist = int(input('Please Enter Value of Distance in Kilo Meters '))
    if unit == 'k' or unit == 'K':
        Dist_km = dist * 1000
        print('Meters calculated as {}'.format(Dist_km))
    elif unit == 'm' or unit == 'M':
        Dist_km = dist * 1.6
        print('Miles calculated as {:.2f}'.format(Dist_km))
    else:
        print('Wrong Unit Selected ', unit)

In [27]:
dist_in_miles()

Please Select Unit either Meters(K) or Mile(M)k
Please Enter Value of Distance in Kilo Meters 60
Meters calculated as 60000

In [104]:
age_program()

Please enter your age :20
Give me Seconds(S) or Days(D) ?D
You have Lived for 7300 Days

In [105]:
age_program()

Please enter your age :20
Give me Seconds(S) or Days(D) ?M
You have not selected proper Value M

In [29]:
def test_prog():
    magic_num = input('Select a magic_number :')
    list_of_num = input ('Select a Number between 0 and 10 :')
    if list_of_num == magic_num:
        print ('Wow , you have selected correct {}'.format(magic_num))
    else:
        print ('Please choose again')

In [31]:
test_prog()

Select a magic_number :5
Select a Number between 0 and 10 :3
Please choose again

In [109]:
test_prog()

Select a magic_number :5
Select a Number between 0 and 10 :4
Please choose again

In [110]:
test_prog()

Select a magic_number :5
Select a Number between 0 and 10 :5
Wow , you have selected correct 5

In [1]:
print (False == 0)

True

In [5]:
# integer value of True is 1 and False is 0 

print(int(True))

1

In [10]:
# Bool value of 0 is False and everything else is True
print(bool(1))

True

In [8]:
print(bool(2))

True

In [2]:
print (True==0)

False

In [9]:
print(bool(0))

False

In [117]:
print (True + True + False)

2

In [120]:
# Or Operator
print (True | False)

True

In [11]:
# And Operator
print (True & False)

False

In [12]:
print (not True)

False

In [13]:
print (None != 0)

True

In [14]:
print (None==0)

False

In [15]:
a=[1,2,3]
a

[1, 2, 3]

In [134]:
del a[2]
a

[1, 2]

In [18]:
assert 5 > 3 ,'5 is not smaller than 3'

In [145]:
print  ('No' '1' in '1ambda')

False

In [146]:
if 's' in 'shobhit':
    print('Yes')
else:
    print ('No')

Yes

In [150]:
print('\'')

'

In [156]:
print (''is'')

True

In [160]:
for i in 'shobhit sharma': 
    print (i,end=" , ")

s , h , o , b , h , i , t ,   , s , h , a , r , m , a ,

# Check a keyword`

In [23]:
import keyword

In [24]:
s='if'
s1='sho'

In [26]:
if  keyword.iskeyword (s):
    print (s , 'is a keyword')
else:
    print(s,', is not a Keyword')

if is a keyword

In [27]:
if  keyword.iskeyword (s1):
    print (s1 + ',is a keyword')
else:
    print(s1 + ', is not a Keyword')

sho, is not a Keyword

In [172]:
# Print all Keywords
print (keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [173]:
print ('Amit')
print('Sharma')

Amit
Sharma

In [175]:
print("geeks"), print("geeksforgeeks")

geeks
geeksforgeeks

(None, None)

In [177]:
a = [1, 2, 3, 4]
a

[1, 2, 3, 4]

In [31]:
print ('Shobhit', end = ' / ') 
print ('Sharma')

Shobhit / Sharma

In [32]:
def add():
    num1 = int(input('Enter Num1 :'))
    num2 = int(input('Enter Num2: '))
    print('Sum of 2 numbers are :' , num1 + num2)

In [33]:
add()

Enter Num1 :12
Enter Num2: 12
Sum of 2 numbers are : 24

In [5]:
def Sub(Num1, Num2):
    num1 = int(input('Enter Num1 :'))
    num2 = int(input('Enter Num2: '))
    return Num1 - Num2

In [6]:
Sub(1,2)

Enter Num1 :12
Enter Num2: 2

-1

# Calculator

In [1]:
def Add(Num1,Num2):
    return Num1 + Num2

In [9]:
Add(1,2)

3

In [2]:
def Minus (Num1,Num2):
    return (Num1 - Num2)

In [3]:
def Multi (Num1,Num2):
    return(Num1 * Num2)

In [4]:
def Div (Num1 ,Num2):
    return (Num1/num2)

In [7]:
def Calc ():
    v1 = int(input('Enter First Number :'))
    v2 = int(input('Enter Second Number :'))
    print ('Select your Opeartion : \n ' \
            '1 for Addition \n ' \
            '2 for Subtraction \n ' \
            '3 for Multiplication \n ' \
            '4 for Division ')
    Choose = int(input('Choose a number for Operation :'))
    if Choose == 1:
        print('You Have Selected Addition Operation.')
        print(v1 , '+' , v2 ,'=', Add(v1,v2))
        print(input(' Press Enter to Continue'))
    elif Choose == 2:
        print('You Have Selected Subtraction Operation.')
        print(v1 , '-' , v2 ,'=', Minus(v1,v2))
        print(input(' Press Enter to Continue'))
    elif Choose == 3:
        print('You Have Selected Multiplication Operation.')
        print(v1 , '*' , v2 ,'=', Multi(v1,v2))
        print(input(' Press Enter to Continue'))
    elif Choose == 4:
        print('You Have Selected Division Operation.')
        print(v1 , '\'' , v2 ,'=', Div(v1,v2))
        print(input(' Press Enter to Continue'))
    else:
        print ('Wrong Selction:')
print(input(' Press Enter to Continue'))

 Press Enter to Continue

In [8]:
Calc()

Enter First Number :3
Enter Second Number :23
Select your Opeartion :
 1 for Addition
 2 for Subtraction
 3 for Multiplication
 4 for Division
Choose a number for Operation :2
You Have Selected Subtraction Operation.
3 - 23 = -20
 Press Enter to Continue

#  Strings

In [9]:
Str1 ='My Name is Shobhit Sharma'

In [10]:
Str1[4]

'a'

In [11]:
print(Str1[4])

a

In [12]:
print(Str1[-14])

S

In [13]:
# printing first Charater
print(Str1[-1])

a

In [14]:
print (Str1[3:-2])

Name is Shobhit Shar

In [15]:
print (Str1[2:-2:2])

 aei hbi hr

In [16]:
Str1[3]='p'

TypeError: 'str' object does not support item assignment

In [17]:
Str2 ='''I am \'a Python Enthusiast'''

In [18]:
Str2

"I am 'a Python Enthusiast"

In [19]:
Str3 =r'C:\Python\Pycharm'

In [23]:
Str3 =r'C:Python\Pycharm'

In [24]:
Str3

'C:Python\\Pycharm'

In [66]:
print('My NAme is {} {}'.format('Shobhit','Sharma'))

My NAme is Shobhit Sharma

In [70]:
print('My Name is {l} {p} {a}'.format(l='Shobhit',a='Sharma',p='Jr.'))

My Name is Shobhit Jr. Sharma

In [74]:
String1 = "|{:<10}|{:^10}|{:>10}|".format('Geeks','for','Geeks') 
print("\nLeft, center and right alignment with Formatting: ")
print(String1)

Left, center and right alignment with Formatting:
|Geeks     |   for    |     Geeks|

In [26]:
Str3 ='my Name is Shobhit Sharma'

In [27]:
print(Str3.count('a'))

3

In [28]:
print(Str3.encode())

b'my Name is Shobhit Sharma'

In [31]:
print(Str3.lstrip('r'))

my Name is Shobhit Sharma

In [30]:
print(Str3.replace('m','p'))

py Nape is Shobhit Sharpa

In [34]:
print(Str3.translate('m'))

TypeError: translate() takes exactly one argument (2 given)

In [35]:
Str3.translate?

In [110]:
print(Str3.index('s'))

9

In [39]:
Str= 'Shobhit,Gaurav,Amit,Vihaan'
print(Str)

Shobhit,Gaurav,Amit,Vihaan

In [45]:
# Split converts string into List Datatype
spl1=Str.split(',')

In [48]:
print(spl1)

['Shobhit', 'Gaurav', 'Amit', 'Vihaan']

In [52]:
Str2 = spl1[::-1]

In [53]:
print(Str2)

['Vihaan', 'Amit', 'Gaurav', 'Shobhit']

In [54]:
Join1= ''.join(Str2)

In [55]:
print(Join1)

VihaanAmitGauravShobhit

In [56]:
Join2 = '/'.join(Str2)

In [57]:
print(Join2)

Vihaan/Amit/Gaurav/Shobhit

In [36]:
s1 = "Python,Django,CSS,Java"

l1 = s1.split(",")
print(l1)
l2 = l1[::-1]
print(l2)
l3=''.join(l2)
print(l3)
s2 = ("/").join(l2)
print(s2)

['Python', 'Django', 'CSS', 'Java']
['Java', 'CSS', 'Django', 'Python']
JavaCSSDjangoPython
Java/CSS/Django/Python

In [8]:
print(dir())

['In', 'Out', '_', '_1', '_2', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_ih', '_ii', '_iii', '_oh', 'exit', 'get_ipython', 'l1', 'l2', 'l3', 'quit', 's1', 's2']

- ### find-- Returns the index of first occurenece from starting of element passed
- ### rfind --Returns the index of first occurenece from Left of element passed
- ### index -- Same as find
- ### rindex -- same as rfind
- ### count -- Count Number of occurence
- ### replace -- replaces 2nd element from 1st one in Strng

In [10]:
print(s1)

Python,Django,CSS,Java

In [22]:
print (s1.find('Ja'))
print (s1.rfind('S'))
print (s1.index('Ja'))
print (s1.rindex('S'))
print (s1.count('a'))
print (s1.replace('S','A'))

18
16
18
16
3
Python,Django,CAA,Java

In [58]:
s1.maketrans?

In [3]:
s1.maketrans('P','D')

{80: 68}

### center
### ljust 
### rjust 

### strip
### lstrip
### rstrip

In [4]:
s = "Python"
s1 = s.center(20,"#")
print(s1)

#######Python#######

In [22]:
s = "Python Language"
print(len(s))
s1 = s.center(18,"#")
s2 = s.ljust(20,"#")
s3 = s.rjust(20,"#")
s4 = s3.strip('#')
s5 = s1.lstrip('#')
s6 = s1.rstrip('#')
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)
print(s6)

15
#Python Language##
Python Language#####
#####Python Language
Python Language
Python Language##
#Python Language

## Functions in String

In [ ]:
upper 
lower
title
capitalize 
isupper 
islower
istitle


isalpha 
isdigit
isalnum 
isspace 

maketrans
translate

find 
replace 
rfind 
index 
rindex 

center 
rjust 
ljust 

strip 
lstrip
rstrip 


split 
join 

format

# List

In [59]:
List=[]
print(List)

[]

In [51]:
List = ["Geeks", "For", "Geeks"] 
print("\nList containing multiple values: ") 
print(List[2])
print(List[1])

List containing multiple values:
Geeks
For

## Adding element to a List
#### Append - One Element at a Time List 
            for Example , List.append ([1,2]) --> will consider 1,2 as one list (one object)
#### Extend - Can add multiple item, 
            for example , List.extend ([3,4])--> Will add 3 and 4 as 2 different items
#### insert - One element at a time BUT at the specific index

In [60]:
List.append(4)
List

[4]

In [61]:
List.append([5,'Hi'])
List

# Adde [5,'Hi'] as one item

[4, [5, 'Hi']]

In [62]:
List.extend([6,'Hello'])
List

# Added [6,'Hello'] as 2 different items in List

[4, [5, 'Hi'], 6, 'Hello']

In [57]:
List.insert(3,'Python')
List

# Inserted 'Python' at index 3 and pushed the list one index right

['Geeks', 'For', 'Geeks', 'Python', 4, [5, 'Hi'], 6, 'Hello']

In [63]:
lista = [1,2,3,4]
print(lista)

[1, 2, 3, 4]

In [64]:
lista.append([5,4,3])
print(lista)

[1, 2, 3, 4, [5, 4, 3]]

In [65]:
lista.extend([5,6,7])
print(lista)

[1, 2, 3, 4, [5, 4, 3], 5, 6, 7]

In [66]:
List.extend(['Van','Dam'])
List
print(List)

[4, [5, 'Hi'], 6, 'Hello', 'Van', 'Dam']

In [59]:
# Loopin in List
for i in range(0,4):
    List.append(i)
print(List)

['Geeks', 'For', 'Geeks', 'Python', 4, [5, 'Hi'], 6, 'Hello', 'Van', 'Dam', 0, 1, 2, 3]

In [60]:
List1=['Shobhit','Sharma']

In [61]:
List.append(List1)

In [62]:
List

['Geeks',
 'For',
 'Geeks',
 'Python',
 4,
 [5, 'Hi'],
 6,
 'Hello',
 'Van',
 'Dam',
 0,
 1,
 2,
 3,
 ['Shobhit', 'Sharma']]

### Remove--Remove The first Occurence of Item passed in function
### Pop-- Remove the item  at index passed in function and returns the item at that index 
### Clear-- Removes all elements from a list

In [67]:
List.remove ('Van')
List

# Removed 'Van' from List

[4, [5, 'Hi'], 6, 'Hello', 'Dam']

In [71]:
List.remove('Geeks')
List

# removed First Occurence of geeks from List

['For',
 'Geeks',
 'Python',
 4,
 [5, 'Hi'],
 6,
 'Hello',
 'Dam',
 0,
 1,
 2,
 3,
 ['Shobhit', 'Sharma']]

In [74]:
List.pop(5)

# Removed Element at 5th index 'hello' and returned Hello

'Hello'

In [76]:
List.clear()
List

[]

In [68]:
List1=list(range(0,5))
List1

[0, 1, 2, 3, 4]

In [70]:
List1.append([2,4])
List1
List1.extend([3,5,1,2,34,5])
List1
List1.insert(2,'Hello')
List1

[0,
 1,
 'Hello',
 'Hello',
 2,
 3,
 4,
 2,
 3,
 5,
 1,
 2,
 34,
 5,
 [2, 4],
 3,
 5,
 1,
 2,
 34,
 5]

## Slicing in List 
    list [start:stop:step]

In [71]:
List1

[0,
 1,
 'Hello',
 'Hello',
 2,
 3,
 4,
 2,
 3,
 5,
 1,
 2,
 34,
 5,
 [2, 4],
 3,
 5,
 1,
 2,
 34,
 5]

In [72]:
List1[::-1]

[5,
 34,
 2,
 1,
 5,
 3,
 [2, 4],
 5,
 34,
 2,
 1,
 5,
 3,
 2,
 4,
 3,
 2,
 'Hello',
 'Hello',
 1,
 0]

In [82]:
List1[-6:2]

[]

In [73]:
print(lista)

[1, 2, 3, 4, [5, 4, 3], 5, 6, 7]

In [74]:
lista[-7]

2

In [75]:
lista[::-1]

[7, 6, 5, [5, 4, 3], 4, 3, 2, 1]

In [84]:
lista[-7:1:-1]

[]

In [91]:
list_comp = [i for i in  range(1,11)]

In [92]:
print(list_comp)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
list_comp[1:8]

[2, 3, 4, 5, 6, 7, 8]

In [105]:
list_comp [1:-3:1]

[2, 3, 4, 5, 6, 7]

In [107]:
list_comp[-9:3]

[2, 3]

In [88]:
List1[-6:10]

[3, 5, 1]

In [99]:
List1[-6:12:-1]

[]

In [100]:
List1[6:-12:-1]

[2, 4, 3, 2, 'Hello']

### index -- Returns first index of element passed in function
### Count-- Counts the number of occurence of a particular element passed in function  
### reverse -- reverse the whole list

In [109]:
List1.index('Hello')

# returned index of 'Hello'

2

In [111]:
List1.index(3)

# returned index of first occurence of 3

4

In [113]:
List1.count(3)

# returns the number of element in List

2

In [124]:
List1.reverse()
List1

[5, 34, 2, 1, 5, 3, 2, 4, 3, 2, 'Hello', 1, 0]

In [125]:
List1[1]

34

# Tuple

In [126]:
tuple1 =(1,2,34)

In [127]:
tuple1

(1, 2, 34)

In [129]:
def fun(a, b, c, d): 
    print(a, b, c, d)

In [130]:
my_list = [1,2,3,4]
fun(*my_list)

1 2 3 4

In [131]:
def sum1(*args):
    sum=0
    for i in range (0,len(args)):
        sum = sum + args[i]

    return sum

In [132]:
print(sum1(1,2,3,4,))

10

In [22]:
# Python program to illustrate 
# *kargs for variable number of keyword arguments 

def myFun(**kwargs): 
	for key, value in kwargs.items(): 
		print ("%s == %s" %(key, value)) 

# Driver code 
myFun(first ='Geeks', mid ='for', last='Geeks', new='name')

first == Geeks
mid == for
last == Geeks
new == name

In [108]:
from math import sqrt
n = 3 # raw_input("Maximal Number? ")
n = int(n)+1
for a in range(1,n):
    for b in range(a,n):
        c_square = a**2 + b**2
        c = int(sqrt(c_square))
        if ((c_square - c**2) == 0):
            print (a, b, c)

In [29]:
print (3)

3

In [30]:
x = {'a': 1, 'b': 2}
y = {'b': 3, 'c': 4}

In [31]:
z = {**x, **y}

In [32]:
z

{'a': 1, 'b': 3, 'c': 4}

In [134]:
n = (int(input('Enter Numbrer:')))

Enter Numbrer:45

In [8]:
def fact(x):
    if x==0:
        return 1
    return  x * (x-1)

In [11]:
x= int(input())
print(fact(x))

8
56

In [ ]:
n = int(input('Enter a number:'))
fact = n
for i in range (1,n):
    fact = fact * (n-i)
	     #i=i+1
print ('fact :' , fact)

In [ ]:
n = int(input('Please enter Max Key Value ,'))
print ('key Value Choosed :' ,n)
d = dict []
for i in  (1,n):
    d[i] = i*i
print (i,d[i])

In [4]:
Num1 = 1
Num2 = 'Hello Shobhit'
print(Num1)
print(type(Num1))
print(Num2)
print(type(Num2))

1
<class 'int'>
Hello Shobhit
<class 'str'>

In [9]:
Num1 = 1
Num2 = 'Hello Shobhit'
# Id is same as of Rowid in SQL
print (id(Num1))
print (id(Num2))

1675652160
2145908153712

In [14]:
l=[10,20,30]
l
l,id(l)
print(l,id(l))

[10, 20, 30] 2145908153800

In [16]:
a=b=c=3
print(b)

3

## Dictonary

        > - Mutable - Add update and delete 
        > - Unordered - not support indexing and slicing 
        > - All the keys should be unique
        > - All the keys should be immutable - int,float,str,tuple 
        
        In case of duplicate keys it the last key overrides the previous key

In [136]:
dict1 ={"Name":'Shobhit','Age':20}
dict1

{'Name': 'Shobhit', 'Age': 20}

In [139]:
dict1 ={"Name":'Shobhit','Age':20, 'Age':30}
dict1
print(dict1)

# In this case Age is duplicate key and last key : value is Age:30 and it overridden Age:20

{'Name': 'Shobhit', 'Age': 30}

In [141]:
print(dict1['Name'])
dict1['Age']

# Printing Value based on Key passed

Shobhit

30

In [144]:
# print All Keys

dict1.keys()

dict_keys(['Name', 'Age'])

In [145]:
# print all values 

dict1.values()

dict_values(['Shobhit', 30])

In [148]:
# get function is like of exception handling, if user passed wrong key to find value , one can customize message

print(dict1.get('Address','This Key is not defined'))
dict1.get('Address','This Key is not defined')

This Key is not defined

'This Key is not defined'

In [157]:
dict1.setdefault('Address')
dict1

{'Name': 'Shobhit', 'Age': 30, 'Address': None}

In [158]:
dict1['Address'] =  'Delhi'
dict1

{'Name': 'Shobhit', 'Age': 30, 'Address': 'Delhi'}

In [109]:
# Prorgam to print Squares in form of dictionary

d={}
for i in range (0,10):
    d.setdefault(i,i**2)
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [172]:
d={}
for i in range(1,11):
    d.setdefault(i,3*i)
print(d)
print(d.keys())
print(d.values())
print(d.items())

{1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30}
dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dict_values([3, 6, 9, 12, 15, 18, 21, 24, 27, 30])
dict_items([(1, 3), (2, 6), (3, 9), (4, 12), (5, 15), (6, 18), (7, 21), (8, 24), (9, 27), (10, 30)])

In [110]:
# Prorgam to iterate Dict

s1 = {'Jack':80,'mark':35,"Andy":65,"Brian":39,"Rob": 50}
passmarks = 40
print ('Name of students failed:')
for k,v in s1.items():
    if v < passmarks:
        print(k, end = ',')

Name of students failed:
mark,Brian,

In [28]:
#####   defaultdict *********************** ADded this

## Zip () function
       It Zips 2 lists and returns Tuple 
       
       Case when 2 lists doesnt have same length it considers the final concatenation tuple with length of shortest List

In [111]:
l1=[1,2,3,4]
l2=['a','b','c','d']

for i in zip(l1,l2):

    
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [114]:
# ZIP() considerd only starting 4 elements and left 5 since othe rlist have just 4 elements

l1=[1,2,3,4,5]
l2=['a','b','c','d']

for i in zip(l1,l2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

### Pop -- Removes the Key value pair for the Key passed in Function pop
### PopItem-- Removes the last Key value pair
### Clear() -- Clears the dictionary and returns empty Dictionary
### del() --  It deletes the structure of dictionary and clears memory allocated to dictionary

In [182]:
d1 = {"Name":"Shobhit","Age":"30","Sex":"Male","Address":"Delhi"}
r = d1.pop("Name")
print(d1)
print(r)

{'Age': '30', 'Sex': 'Male', 'Address': 'Delhi'}
Shobhit

In [183]:
print(d1)

{'Age': '30', 'Sex': 'Male', 'Address': 'Delhi'}

In [185]:
r1=d1.popitem()
r1

('Address', 'Delhi')

In [186]:
d1

{'Age': '30', 'Sex': 'Male'}

In [191]:
# Clears the dictionary and returns empty Dictionary
d1.clear()
d1

{}

In [197]:
d2={"Name":'Shobhit',"Age":'30'}

In [198]:
d2
del d2

In [199]:
d2

NameError: name 'd2' is not defined

## Set 
        < Mutable => add,update and delete
        < Unordered => no indexing and slicing
        < Internally sets are implementated as Dict with None value
        < All elements in set should be unique
        < Datatype of all elements shold be immutable

In [201]:
s = {10,20,30,40,50}
print(type(s))

<class 'set'>

In [202]:
s1 = set()
print(type(s1))

<class 'set'>

In [204]:
# only Unique Values -- removed one occurance of 4
s1={1,2,3,4,5,4}
s1

{1, 2, 3, 4, 5}

### Set in python follows same architecture as of Maths Stes
        You can perform Union, intersection, Minus and all other Sets operation

In [207]:
## union returns Unique values from all different Sets

s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s3 = s1.union(s2)
print(s3)
s3

{70, 40, 10, 80, 50, 20, 90, 60, 30}

{10, 20, 30, 40, 50, 60, 70, 80, 90}

In [208]:
s1.update(s2)
s1

{10, 20, 30, 40, 50, 60, 70, 80, 90}

In [209]:
s3 = s1.symmetric_difference(s2)
print(s3)
s3

{10, 20, 30}

{10, 20, 30}

In [ ]:
# s3 = s1.intersection(s2)
# print(s3)

# s1.intersection_update(s2)
# print(s1)

# s3 = s1.difference(s2)
# print(s3)


# s3 = s2.difference(s1)
# print(s3)

# s1.difference_update(s2)
# print(s1)

# s3 = s1.symmetric_difference(s2)
# print(s3)

# s1.symmetric_difference_update(s2)
# print(s1)

# s3 = {10,20}

# print(s3.issubset(s1))
# print(s1.issuperset(s3))

In [21]:
se ={1,2,3,4}
se

{1, 2, 3, 4}

In [26]:
se = {1,2,3,4,'Hi',4}
se

{1, 2, 3, 4, 'Hi'}

In [31]:
# if string is also passed in Set, it will consider set as string, 
#hence ordering of items are different, and printing 23 before 3

se={2,3,1,4,2,1,2,'Hey',341,23,7}
se

{1, 2, 23, 3, 341, 4, 7, 'Hey'}

In [32]:
# in This case only integers hence integers are rerranged
se={2,3,1,4,2,1,2,341,23,7}
se

{1, 2, 3, 4, 7, 23, 341}

## Misclaneous

In [33]:
l=[1,2,3,4]
print (l[1])

2

In [36]:
name,age ='Shobhit', 31
print (f"My name is {name}, and age is {age}")

My name is Shobhit, and age is 31

In [21]:
for i in range (1,11):
    print('15 * ',i , '=' , 15*i)

15 *  1 = 15
15 *  2 = 30
15 *  3 = 45
15 *  4 = 60
15 *  5 = 75
15 *  6 = 90
15 *  7 = 105
15 *  8 = 120
15 *  9 = 135
15 *  10 = 150

In [115]:
a=range(0,100,2)
print(a)

range(0, 100, 2)

In [24]:
print(range(7))

range(0, 7)

In [116]:
a=list(range(0,20,2))
a

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [34]:
a= list(range(10))
b=a+a
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
for i in zip([1,2,3],[2,3,4],[3,4,5]):
    print(i)

(1, 2, 3)
(2, 3, 4)
(3, 4, 5)

In [41]:
for i in zip([1,2,3],[2,3,4],[3,4,5],[5,6]):
    print(i)

(1, 2, 3, 5)
(2, 3, 4, 6)

# List

In [119]:
lst= [1,2,3,4]
print (lst)

[1, 2, 3, 4]

In [118]:
lst[1:3]

NameError: name 'lst' is not defined

In [46]:
lst[-1:2]

[]

In [49]:
lst.append(6)
lst

[1, 2, 3, 4, 6, 6, 6]

In [50]:
lst[2]=8
lst

[1, 2, 8, 4, 6, 6, 6]

In [51]:
lst.insert(3,5)
lst

[1, 2, 8, 5, 4, 6, 6, 6]

In [56]:
lst.pop
lst

[1, 2, 8, 5, 4, 6, 6, 6]

In [57]:
del lst(2)
lst

SyntaxError: can't delete function call (<ipython-input-57-5ce677972115>, line 1)

In [58]:
lst = [12,23,24,34,3,4,5,678,89,42,23,32,45,23,34,5]
len(lst)

16

In [62]:
for i in lst[1:len(lst)]:
    print(i, end = ', ')

23, 24, 34, 3, 4, 5, 678, 89, 42, 23, 32, 45, 23, 34, 5,

In [63]:
a=(1)
type(a)

int

In [64]:
b=(1,)
type(b)

tuple

In [65]:
a={1,2,3,4,4,5,6}
a

{1, 2, 3, 4, 5, 6}

In [66]:
a={1,2,3,4,'Hi'}
a

{1, 2, 3, 4, 'Hi'}

In [69]:
b={1,2,3,2,4,6,5,7,'Hey','apple','Hi'}
b

{1, 2, 3, 4, 5, 6, 7, 'Hey', 'Hi', 'apple'}

In [70]:
c={1,2,3,2,4,6,5,7,'hey','apple','hi'}
c

{1, 2, 3, 4, 5, 6, 7, 'apple', 'hey', 'hi'}

In [75]:
dict ={1:2,2:3,3:4,1:4,1:6,2:8}
dict

{1: 6, 2: 8, 3: 4}

In [76]:
b

{1, 2, 3, 4, 5, 6, 7, 'Hey', 'Hi', 'apple'}

In [81]:
c.add(10)

In [82]:
c

{1, 10, 2, 3, 4, 5, 6, 7, 'apple', 'hey', 'hi'}

In [83]:
c.add(15)
c

{1, 10, 15, 2, 3, 4, 5, 6, 7, 'apple', 'hey', 'hi'}

In [84]:
c

{1, 10, 15, 2, 3, 4, 5, 6, 7, 'apple', 'hey', 'hi'}

In [85]:
lang = [['Hindi','english'],'math',['Spainish','Russian'], 1,2,3]
lang

[['Hindi', 'english'], 'math', ['Spainish', 'Russian'], 1, 2, 3]

In [86]:
type(lang)

list

In [87]:
print(type(lang))

<class 'list'>

In [88]:
lang1 =[['My','Name'],('Shobhit','Sharma'),'Raj','Dheeraj',['Ram','jai'],('Peeter')]
lang1

[['My', 'Name'],
 ('Shobhit', 'Sharma'),
 'Raj',
 'Dheeraj',
 ['Ram', 'jai'],
 'Peeter']

In [2]:
#  A list may conatin Anything,like Tuples, strings, dict, Sets any thing 
lang2 =[['My','Name'],('Shobhit','Sharma'),'Raj','Dheeraj',['Ram','jai'],
            'Peeter',{1,2,3},{'Name':'SHobhit','Age':30}]
lang2

[['My', 'Name'],
 ('Shobhit', 'Sharma'),
 'Raj',
 'Dheeraj',
 ['Ram', 'jai'],
 'Peeter',
 {1, 2, 3},
 {'Name': 'SHobhit', 'Age': 30}]

In [97]:
lang2[1]

('Shobhit', 'Sharma')

In [110]:
a=type(lang2[0])
b=type(lang2[1])
c=type(lang2[2])
d=type(lang2[-2])
e=type(lang2[-1])
print(a, lang2[0])
print(b, lang2[1])
print(c ,lang2[2])
print(d,lang2[-2])
print(e, lang2[-1])

<class 'list'> ['My', 'Name']
<class 'tuple'> ('Shobhit', 'Sharma')
<class 'str'> Raj
<class 'set'> {1, 2, 3}
<class 'dict'> {'Name': 'SHobhit', 'Age': 30}

In [111]:
# Item assignment in nested list

lang2[0][1]='Pet'
lang2

[['My', 'Pet'],
 ('Shobhit', 'Sharma'),
 'Raj',
 'Dheeraj',
 ['Ram', 'jai'],
 'Peeter',
 {1, 2, 3},
 {'Name': 'SHobhit', 'Age': 30}]

In [112]:
lang2[:]

[['My', 'Pet'],
 ('Shobhit', 'Sharma'),
 'Raj',
 'Dheeraj',
 ['Ram', 'jai'],
 'Peeter',
 {1, 2, 3},
 {'Name': 'SHobhit', 'Age': 30}]

In [3]:
lang2[1:4]

[('Shobhit', 'Sharma'), 'Raj', 'Dheeraj']

In [4]:
lang2[-1:1]

[]

In [7]:
lang2[-3:6]

['Peeter']

In [9]:
colors =['red','pink','blue']
colors

['red', 'pink', 'blue']

In [10]:
colors = list(range(0,7))
colors

[0, 1, 2, 3, 4, 5, 6]

In [11]:
colors[:3] =[6,5,4,2,1]
colors

[6, 5, 4, 2, 1, 3, 4, 5, 6]

In [12]:
del colors

In [16]:
colors = list(range(0,7))
colors

[0, 1, 2, 3, 4, 5, 6]

In [17]:
del colors[5]
colors

[0, 1, 2, 3, 4, 6]

In [19]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [20]:
a,b

([1, 2, 3], [4, 5, 6])

In [21]:
b,a

([4, 5, 6], [1, 2, 3])

In [22]:
b+a

[4, 5, 6, 1, 2, 3]

In [27]:
del a

In [28]:
a=[1,2,3]

In [29]:
a

[1, 2, 3]

In [30]:
b=a*3

In [31]:
b

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [32]:
1 in a

True

In [33]:
7 in a

False

In [35]:
for i in list(range(0,50)):
    if i%2 == 0:
        print (f'{i} is even number')

0 is even number
2 is even number
4 is even number
6 is even number
8 is even number
10 is even number
12 is even number
14 is even number
16 is even number
18 is even number
20 is even number
22 is even number
24 is even number
26 is even number
28 is even number
30 is even number
32 is even number
34 is even number
36 is even number
38 is even number
40 is even number
42 is even number
44 is even number
46 is even number
48 is even number

In [38]:
even=[2*i for i in range(1,11)]
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [39]:
len(even)

10

In [41]:
max(even)
#min(even)

20

In [42]:
max([1,34,345,12,213,123,23323,12312,3123,123,123,12,312,3,123,12])

23323

In [43]:
sum(even)

110

In [46]:
sorted([234,234,234,24,2321,312,31,23,324,32,5,5432,53,5])

[5, 5, 23, 24, 31, 32, 53, 234, 234, 234, 312, 324, 2321, 5432]

In [47]:
list('shobhit')

['s', 'h', 'o', 'b', 'h', 'i', 't']

In [48]:
a

[1, 2, 3]

In [49]:
any(a)

True

In [50]:
all(a)

True

In [51]:
b

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [52]:
b.append(5)

In [53]:
b

[1, 2, 3, 1, 2, 3, 1, 2, 3, 5]

In [54]:
b.append('')
b

[1, 2, 3, 1, 2, 3, 1, 2, 3, 5, '']

In [55]:
all(b)

False

In [56]:
a

[1, 2, 3]

In [58]:
a.append(4)
a.append(8)

In [59]:
a

[1, 2, 3, 4, 8]

In [60]:
a.append(10)
a.append(9)
a

[1, 2, 3, 4, 8, 10, 9]

In [61]:
a.append(4)
a

[1, 2, 3, 4, 8, 10, 9, 4]

In [62]:
a.remove(4)

In [63]:
a

[1, 2, 3, 8, 10, 9, 4]

In [64]:
a.pop(4)

10

In [65]:
a

[1, 2, 3, 8, 9, 4]

In [66]:
a.index(8)

3

In [67]:
a.append(3)

In [68]:
a.index(3)

2

In [69]:
a

[1, 2, 3, 8, 9, 4, 3]

In [71]:
a.count(3)

2

.sort()

In [72]:
a.sort()

In [73]:
a

[1, 2, 3, 3, 4, 8, 9]

In [74]:
a.reverse()

In [76]:
a

[9, 8, 4, 3, 3, 2, 1]

In [77]:
a

[9, 8, 4, 3, 3, 2, 1]

# Tuple1

In [78]:
tup = 1,
tup

(1,)

In [79]:
type(tup)

tuple

In [80]:
print(type(tup))

<class 'tuple'>

In [81]:
tup=(1,2,3,4,5)

In [82]:
tup

(1, 2, 3, 4, 5)

In [83]:
tup=(2,3,4,5,6,7)

In [84]:
tup

(2, 3, 4, 5, 6, 7)

In [86]:
tup[3]

5

In [87]:
print(tuple(range(0,5)))

(0, 1, 2, 3, 4)

In [6]:
%pwd

'C:\\Users\\shobhit.sharma\\Documents\\Python Scripts'

In [3]:
name = ''
while name != 'Shobhit':
    print ('Please Type Your Name')
    name=input()
print ('Thanks ' , name)

Please Type Your Name
Hy
Please Type Your Name
Shobhit
Thanks  Shobhit